<article
  class="flex flex-col items-center justify-center gap-8 text-white dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p]:text-xl [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo George Cortés Jiménez. Empecé en la programación a los 17 años.
      Actualmente estoy en los semestres finales de la carrera <strong
        class="text-red-200"
        >Bachillerato en Informática Empresarial en la Universidad de Costa Rica</strong
      >.
    </p>

    <p>
      He participado en iniciativas brindadas por <strong class="text-red-200"
        >Oracle</strong
      >, en las cuales he podido complementar mis conocimientos en tecnologías
      como <strong class="text-yellow-200/80"
        >Java, JavaScript, SQL, PL/SQL, entre otros</strong
      >.
    </p>

    <p>
      Me gustaría mencionar que aunque me he centrado en el <strong
        class="text-green-200">Desarrollo Back-End</strong
      > , también he tenido la oportunidades con el <strong
        class="text-blue-200">Desarrollo Front-End</strong
      >. Me ha parecido interesante, las diferentes tecnologías que existen y
      cómo se pueden combinar para crear páginas y aplicaciones web modernas y
      eficientes. Con ganas de averiguar mis preferencias en el Desarrollo Web
      he probado con <strong class="text-red-300">Astro</strong>. Con el cual he
      podido crear este portafolio.
    </p>
    <p>
      En unión con instituciones públicas en mi país, he brindado <strong
        class="text-blue-200"
        >la oportunidad a muchos jóvenes de aprender programación y adentrarse
        en el mundo de la programación</strong
      >.
    </p>
  </div>
</article>
