<header
  id="leading-header"
  class="flex justify-center
  py-4 w-full xxl:w-[1120px] mx-auto
  fixed top-0 z-10"
>
  <nav
    class="flex px-3 text-[17px] font-medium text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    <ul
      class="flex z-10 backdrop-blur-xs rounded-full bg-blue-400/20 [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li>
        <a href="#top">Inicio</a>
      </li>
      <li>
        <a href="#tech">Tecnologías</a>
      </li>
      <li>
        <a href="#about">Sobre mí</a>
      </li>
      <li>
        <a href="mailto:george72001@gmail.com">Contacto</a>
      </li>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`
            absolute bg-white/5 backdrop-blur-md rounded-full
            translate-x-[var(--left)] translate-y-[var(--top)]
            left-0 top-0
            w-[var(--width)] h-[var(--height)]
            transition-all duration-500
            ease-in-out opacity-0 -z-10
        `}
  >
  </div>
</header>

<script>
  const listItem = document.querySelectorAll("#leading-header li");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
